numpy==1.26.4
opencv-python-headless==4.10.0.84
ultralytics==8.3.49
ray[serve]==2.40.0
pandera==0.21.1
pydantic==2.10.3
pydantic-settings==2.6.1
structlog==24.4.0
pyarrow==18.1.0
pandas==2.2.3
multimethod==1.12
scipy==1.14.1
prometheus_client==0.21.1
